extends layout/default
block variables
	- var title = 'Закрывающий тег';
	- var description = 'Яндекс проект спринта №4';
	- var pageStylesheet = './styles/style.css';
	-
		var cardsArray = [
			{
				'imgUrl': './images/card_image_',
				'altText': 'Гном в доспехах подглядывает за нами',
				'label': '</HTML>',
				'filter': 'card_filter-hue',
				'title': 'Фритрек и нулевой спринт: Подготовка к работе',
				'first_p': 'Это было самое начало пути. На этом этапе важно было проникнуться основами и настроиться на учёбу. И, возможно, подумать, как новые знания могут повлиять на ваше будущее.',
				'double_p': 'В начале было интересно.',
			},
			{
				'imgUrl': './images/card_image_',
				'altText': 'Спайро довольным смотрит на нас',
				'label': '</HTML>',
				'filter': 'card_filter-opacity',
				'title': '1 спринт: Я — чистый лист',
				'first_p': 'Это было самое начало пути. На этом этапе важно было проникнуться основами и настроиться на учёбу. И, возможно, подумать, как новые знания могут повлиять на ваше будущее.',
				'double_p': 'Я был доволен обучением.',
			},
			{
				'imgUrl': './images/card_image_',
				'altText': 'Агент 47 невозмутимо смотрит на нас',
				'label': '<CSS>',
				'filter': 'card_filter-sepia',
				'title': '1 спринт: А если не получится?',
				'first_p': 'Это было самое начало пути. На этом этапе важно было проникнуться основами и настроиться на учёбу. И, возможно, подумать, как новые знания могут повлиять на ваше будущее.',
				'double_p': 'Потом я начал задумываться.',
			},
			{
				'imgUrl': './images/card_image_',
				'altText': 'Лара Крофт разочарованно смотрит на нас',
				'label': '<desigions>',
				'filter': 'card_filter-blur',
				'title': '2 спринт: Погоня за идеалом',
				'first_p': 'Это было самое начало пути. На этом этапе важно было проникнуться основами и настроиться на учёбу. И, возможно, подумать, как новые знания могут повлиять на ваше будущее.',
				'double_p': 'Немного разочаровался.',
			},
			{
				'imgUrl': './images/card_image_',
				'altText': 'Майкл де Санта удивленно смотрит на нас',
				'label': '<care>',
				'filter': 'card_filter-bright-contrast',
				'title': '2 спринт: О тех, кто рядом',
				'first_p': 'Это было самое начало пути. На этом этапе важно было проникнуться основами и настроиться на учёбу. И, возможно, подумать, как новые знания могут повлиять на ваше будущее.',
				'double_p': 'Но потом меня удивил новый подход к обучению.',
			},
			{
				'imgUrl': './images/card_image_',
				'altText': 'Владимир Макаров зло смотрит на нас',
				'label': '<support>',
				'filter': 'card_filter-grayscale',
				'title': '3 спринт: Обходные стратегии',
				'first_p': 'Это было самое начало пути. На этом этапе важно было проникнуться основами и настроиться на учёбу. И, возможно, подумать, как новые знания могут повлиять на ваше будущее.',
				'double_p': 'Сперва я был недоволен.',
			},
			{
				'imgUrl': './images/card_image_',
				'altText': 'Фрау Энгель негодующе смотрит на нас',
				'label': '<lifes-style: none>',
				'filter': 'card_filter-invert',
				'title': '3 спринт: Когда опускаются руки',
				'first_p': 'Это было самое начало пути. На этом этапе важно было проникнуться основами и настроиться на учёбу. И, возможно, подумать, как новые знания могут повлиять на ваше будущее.',
				'double_p': 'Затем я стал крайне недоволен.',
			},
			{
				'imgUrl': './images/card_image_',
				'altText': 'Крэш Бандикут доволен победой',
				'label': '<experience>',
				'filter': 'card_filter-saturate',
				'title': '«Сейчас я здесь»',
				'first_p': 'Это было самое начало пути. На этом этапе важно было проникнуться основами и настроиться на учёбу. И, возможно, подумать, как новые знания могут повлиять на ваше будущее.',
				'double_p': 'Но в конце концов я получаю удовольствие от программирования.',
				'third_p': 'Не будьте такими серьезными. Это шуточное слайдшоу.'
			}
		]
	//Попробуй сломать добавив лишь один параграф
block content
	ul.page__list
		include ./components/card/card
		each card, index in cardsArray
			li.page__list__item.page__container
				+card(index+1, card.imgUrl, card.altText, card.label, card.filter, card.title, card.first_p, card.double_p, card.third_p)

