extends layout/default
block variables
	- var title = 'Закрывающий тег';
	- var description = 'Яндекс проект спринта №4';
	- var pageStylesheet = './styles/style.css';
	-
		var cardsArray = [
			{
				'imgUrl': './images/card_image_',
				'altText': 'Гном в доспехах подглядывает за нами',
				'label': '</HTML>',
				'filter': 'card_filter-hue',
				'title': 'Фритрек и нулевой спринт: Подготовка к работе',
				'first_p': 'Это было самое начало пути. На этом этапе важно было проникнуться основами и настроиться на учёбу. И, возможно, подумать, как новые знания могут повлиять на ваше будущее.',
				'double_p': 'В начале было интересно.',
			},
			{
				'imgUrl': './images/card_image_',
				'altText': 'Спайро довольным смотрит на нас',
				'label': '</HTML>',
				'filter': 'card_filter-opacity',
				'title': '1 спринт: Я — чистый лист',
				'first_p': 'На первых этапах мы работали со страхами и сомнениями, которые часто испытывают новички. Один из них — страх перед чистым листом. Это, конечно же, намного сложнее, чем боязнь куска бумаги. Часто за этим ощущением скрываются более глубокие вопросы: с чего начать? а вдруг будет слишком сложно? что, если я не справлюсь?',
				'double_p': 'Я был доволен обучением.',
			},
			{
				'imgUrl': './images/card_image_',
				'altText': 'Агент 47 невозмутимо смотрит на нас',
				'label': '<CSS>',
				'filter': 'card_filter-sepia',
				'title': '1 спринт: А если не получится?',
				'first_p': 'Первый проект — позади! Но это всё ещё самое начало пути. Радость могла быстро померкнуть и смениться ожиданием провала. Или вы, наоборот, могли вдохновиться успехами и поверить в себя.',
				'double_p': 'Потом я начал задумываться.',
			},
			{
				'imgUrl': './images/card_image_',
				'altText': 'Лара Крофт разочарованно смотрит на нас',
				'label': '<desigions>',
				'filter': 'card_filter-blur',
				'title': '2 спринт: Погоня за идеалом',
				'first_p': 'На этом этапе вы уже достаточно разбирались в основах вёрстки, чтобы понять, как много ещё впереди. Вы могли попытаться погнаться за идеалом и понять, что он недостижим. А, может, вы вовсе и не подвержены перфекционизму и вместо того, чтобы сделать идеально, старались просто сделать.',
				'double_p': '... и немного разочаровался.',
			},
			{
				'imgUrl': './images/card_image_',
				'altText': 'Майкл де Санта удивленно смотрит на нас',
				'label': '<care>',
				'filter': 'card_filter-bright-contrast',
				'title': '2 спринт: О тех, кто рядом',
				'first_p': 'Всё это время вы были не одиноки (хотя, возможно, иногда и чувствовали, что одни против целого мира). Вас окружали одногруппники, команда сопровождения и просто близкие люди, которым можно пожаловаться, если очередной макет просто так не поддавался. Осваивать что-то новое легче, когда рядом есть единомышленники, не правда ли?',
				'double_p': 'Но потом меня удивил новый подход к обучению.',
			},
			{
				'imgUrl': './images/card_image_',
				'altText': 'Владимир Макаров зло смотрит на нас',
				'label': '<support>',
				'filter': 'card_filter-grayscale',
				'title': '3 спринт: Обходные стратегии',
				'first_p': 'На этом курсе вы постоянно решали разные задачи. В какой-то момент вам могло показаться, что решения просто иссякли. Значит, пришло время посмотреть на задачу под другим углом.',
				'double_p': 'Сперва я был недоволен.',
			},
			{
				'imgUrl': './images/card_image_',
				'altText': 'Фрау Энгель негодующе смотрит на нас',
				'label': '<lifes-style: none>',
				'filter': 'card_filter-invert',
				'title': '3 спринт: Когда опускаются руки',
				'first_p': 'Во время учёбы часто возникает чувство, когда не знаешь, за что хвататься. Вроде и проектную пора сдавать, и задачи хочется порешать, и в теории получше разобраться, и жизнь не забыть пожить. В такие моменты очень нужна концентрация. Вспомните, откуда вы её черпали.',
				'double_p': 'Затем я был КРАЙНЕ недоволен.',
			},
			{
				'imgUrl': './images/card_image_',
				'altText': 'Крэш Бандикут доволен победой',
				'label': '<experience>',
				'filter': 'card_filter-saturate',
				'title': '«Сейчас я здесь»',
				'first_p': 'Сейчас вы уже очень много знаете о вёрстке. Но это только начало. Во-первых, впереди ещё много материала про «красотищу». Во-вторых, с окончанием курса учёба не заканчивается. Вёрстка — это целый мир. И этот мир постоянно меняется. Познать его полностью не получится, но это тот случай, когда важен сам процесс познания. Ведь часто путь — и есть результат.',
				'double_p': 'Но в конце концов я получаю удовольствие от программирования.',
				'third_p': 'P.s. Надеюсь, что на собеседованиях не спросят тех вопросов, на которые я так и не узнал ответов.'
			}
		]
block content
	ul.page__list
		include ./components/card/card
		each card, index in cardsArray
			li.page__list__item.page__container
				+card(index+1, card.imgUrl, card.altText, card.label, card.filter, card.title, card.first_p, card.double_p, card.third_p)

