.card {
  color: var(--text-color);
  &__title {
    font-size: 18px;
    padding: 5px 5px;
    line-height: normal;
    font-style: normal;
    word-spacing: 1.2px;
    font-variation-settings: 'wght' var(--fw-title-text);
    @media (width <= 375px) {
      padding: 5px 9px;
      word-spacing: 0;
    }
  }
  &__picture-wrapper {
    position: relative;
    border-block: 2px solid currentColor;
  }
  &__label {
    position: absolute;
    inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
    inset-block-start: 25px;
    font-family: var(--accent-font, 'PressStart2P', Copperplate, fantasy);
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    mix-blend-mode: hard-light;
    z-index: 1;
    text-shadow:
      -1px 0 var(--text-stroke),
      0 1px var(--text-stroke),
      1px 0 var(--text-stroke),
      0 -1px var(--text-stroke);
    @supports (
      (text-stroke: 1px var(--text-stroke)) or
        (-webkit-text-stroke: 1px var(--text-stroke))
    ) {
      -webkit-text-stroke: 1px var(--text-stroke);
      text-stroke: 1px var(--text-stroke);
      text-shadow: none;
    }
  }
  &__image {
    object-fit: cover;
    object-position: center;
    inline-size: 100%;
    aspect-ratio: 1 / 1.01;
    height: 100%;
    display: block;
    @media (width <= 375px) {
      aspect-ratio: 1 / 1;
    }
  }
  &_filter-mixed {
    filter: brightness(0.8) grayscale(1);
  }
  &_filter-opacity {
    filter: opacity(0.5);
  }
  &_filter-hue {
    filter: hue-rotate(90deg);
  }
  &_filter-blur {
    filter: blur(0.8px);
  }
  &_filter-contrast {
    filter: contrast(1.4);
  }
  &_filter-grayscale {
    filter: grayscale(0.6);
  }
  &_filter-sepia {
    filter: sepia(0.5);
  }
  &_filter-saturate {
    filter: saturate(1.5);
  }

  &__content {
    padding: 24px 24px 22px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    @media (width <= 375px) {
      padding: 24px;
      gap: 28px;
    }
  }
  &__text {
    font-size: 18px;
    line-height: calc(21 / 18 * 100%);
    font-style: normal;
    font-variation-settings: 'wght' var(--fw-text);
  }
  &__button-container {
    display: flex;
    gap: 8px;
    padding: 0 25px 25px;
    justify-content: end;
    align-items: center;
  }
  &__icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 39px;
    block-size: 39px;
    background-color: var(--bg-color);
    padding: 0;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    .like-icon {
      min-inline-size: 39px;
      aspect-ratio: 1/1;
    }
    .core {
      transition: fill 0.3s 0.03s linear;
    }
    .main-body {
      transition: fill 0.3s linear;
    }
    .contour {
      transition: fill 0.1s linear;
    }
    .sparks {
      opacity: 0;
    }
    .is-liked {
      .core {
        --heart-core: var(--heart-sparks, #f00);
        transition: fill 0.3s linear;
      }
      .main-body {
        --heart-main-body: var(--heart-sparks, #f00);
        transition: fill 0.3s 0.05s linear;
      }
      .contour {
        --heart-contour: var(--heart-sparks, #f00);
        transition: fill 0.3s 0.06s linear;
      }
      .heart {
        transform-origin: center;
        animation: heart_beat 0.3s 0.1s ease-in alternate;
      }
      .sparks {
        animation: sparks_explosion 0.3s 0.3s ease-in alternate;
      }
    }
    &:hover {
      .core {
        --heart-core: var(--heart-contour);
        transition: fill 0.3s linear;
      }
      .main-body {
        --heart-main-body: var(--heart-contour);
        transition: fill 0.3s 0.05s linear;
      }
    }
    &:active {
      .core {
        --heart-core: var(--heart-sparks, #f00);
        transition: fill 0.3s linear;
      }
      .main-body {
        --heart-main-body: var(--heart-sparks, #f00);
        transition: fill 0.3s 0.05s linear;
      }
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: none;
      border-color: var(--text-color);
      transition: border-color 0.3s ease;
    }
  }
  &__like-button {
    padding: 9px 17px;
    min-inline-size: 130px;
    min-block-size: 38px;
  }
}
