<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
    <meta name="description" />
    <meta name="og:title" />
    <meta name="og:url" content="" />
    <meta name="og:description" />
    <meta name="color-scheme" content="light dark" />
    <link rel="icon" href="images/favicon/favicon.ico" sizes="any" />
    <link
      rel="icon"
      media="(prefers-color-scheme: dark)"
      href="images/favicon/favicon_dark.ico"
      sizes="any"
    />
    <link rel="icon" href="images/favicon/favicon.svg" type="image/svg+xml" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="images/favicon/apple-touch-icon.png"
    />
    <link
      rel="apple-touch-icon"
      media="(prefers-color-scheme: dark)"
      sizes="180x180"
      href="images/favicon/apple-touch-icon_dark.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      media="(prefers-color-scheme: dark)"
      type="image/png"
      sizes="32x32"
      href="images/favicon/favicon-32x32_dark.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="images/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      media="(prefers-color-scheme: dark)"
      type="image/png"
      sizes="16x16"
      href="images/favicon/favicon-16x16_dark.png"
    />
    <link
      rel="mask-icon"
      href="images/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <link
      rel="mask-icon"
      media="(prefers-color-scheme: dark)"
      href="images/favicon/safari-pinned-tab_dark.svg"
      color="#5bbad5"
    />
    <link rel="stylesheet" href="./fonts/fonts.css" />
    <link rel="stylesheet" href="./styles/globals.css" />
    <link rel="stylesheet" href="./styles/variables.css" />
    <link rel="stylesheet" href="./styles/default.css" />
    <link rel="stylesheet" />
    <link rel="stylesheet" href="./styles/animations.css" />
    <link rel="stylesheet" href="./styles/themes.css" />
    <script src="./scripts/set-theme.js"></script>
  </head>
  <body class="page">
    <header class="header page__container">
      <h1 class="header__title">&lt;/HTML&gt;</h1>
      <p class="header__name">закрывающий тег</p>
      <!-- Не меняйте разметку этого списка, иначе скрипты перестанут работать -->
      <nav class="theme-menu header__theme-menu">
        <ul class="theme-menu__list">
          <li class="theme-menu__item">
            <button class="theme-menu__button" type="button" data-theme="dark">
              Темно
            </button>
          </li>
          <li class="theme-menu__item">
            <button
              class="theme-menu__button"
              type="button"
              data-theme="auto"
              disabled
            >
              Авто
            </button>
          </li>
          <li class="theme-menu__item">
            <button class="theme-menu__button" type="button" data-theme="light">
              Светло
            </button>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main"></main>
    <footer class="footer page__container">
      <button
        class="common-button footer__button"
        type="button"
        onclick="window['dialog'].showModal()"
      >
        <span class="button__text"
          ><svg viewBox="0 0 40 40">
            <use href="svg/floppy.svg#floppy"></use></svg
          >Сохранить на память</span
        >
      </button>
    </footer>
    <dialog class="dialog" id="dialog">
      <div class="dialog__content">
        <svg viewBox="0 0 40 40">
          <use href="svg/floppy.svg#floppy"></use>
        </svg>
        Вставьте&nbsp; дискету, чтобы продолжить
      </div>
      <form class="dialog__form-close" method="dialog">
        <button class="common-button dialog__button">
          <span class="button__text">ок</span>
        </button>
      </form>
    </dialog>
    <script src="./scripts/like.js"></script>
  </body>
</html>
