footer.footer.page__container
  button.common-button.footer__button(
    type='button',
    onclick='window[\'dialog\'].showModal()'
  )
    span.button__text
      svg(viewBox='0 0 40 40')
        use(href='svg/floppy.svg#floppy')
      | Сохранить на память
