.footer {
  margin-block-start: 50px;
  padding-inline: 35px;
  &__button {
    display: flex;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    @media (width <= 375px) {
      padding: 15px 15px;
    }
  }
  svg {
    inline-size: 21px;
    aspect-ratio: 1/1;
    margin-inline-end: 8px;
  }
}

@media (width <= 375px) {
  .footer {
    svg {
      display: block;
      margin: 0 auto 8px;
      inline-size: 28px;
    }
  }
}

.footer.page__container {
  border: none;
  background-color: transparent;
}

.dialog {
  padding: 30px;
  border-color: var(--text-color);
  background-color: var(--bg-color);
  max-inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  &::backdrop {
    opacity: 0.75;
    background: #000;
  }
  .dialog__content {
    display: flex;
    flex-grow: 1;
    gap: 20px;
    color: var(--text-color);
    font-family: var(--accent-font, Consolas, monospace);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
    svg {
      min-inline-size: 39px;
      aspect-ratio: 1/1;
    }
  }
  .dialog__form-close {
    margin-block-start: 30px;
  }
  .dialog__button {
    padding: 9px 17px;
    width: 100%;
    min-block-size: 38px;
  }
  &::backdrop {
    opacity: 0.75;
    background-color: #000;
  }
}
