footer.footer.page__container
  button.common-button.footer__button(
    type='button',
    onclick='window[\'dialog\'].showModal()',
  )
    span.button__text
      svg(viewBox='0 0 40 40')
        use(href='svg/floppy.svg#floppy')
      | Сохранить на память
  dialog#dialog.dialog
    .dialog__content
      svg(viewBox='0 0 40 40')
        use(href='svg/floppy.svg#floppy')
      | Вставьте&nbsp; дискету, чтобы продолжить
    form.dialog__form-close(method='dialog')
      button.common-button.dialog__button
        span.button__text ок
