@charset "UTF-8";

/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.card {
  color: var(--text-color);
}

.card__title {
  font-size: 18px;
  padding: 5px;
  line-height: normal;
  font-style: normal;
  word-spacing: 1.2px;
  font-variation-settings: "wght" var(--fw-title-text);
}

@media (width <= 375px) {
  .card__title {
    padding: 5px 9px;
    word-spacing: 0;
  }
}

.card__picture-wrapper {
  position: relative;
}

.card__image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1.01;
}

@media (width <= 375px) {
  .card__image {
    aspect-ratio: 1/1;
  }
}

.card_filter-hue {
  filter: brightness(0.8) hue-rotate(45deg);
}

.card_filter-opacity {
  filter: brightness(0.8) opacity(0.8);
}

.card_filter-sepia {
  filter: brightness(0.5) sepia(0.6);
}

.card_filter-blur {
  filter: brightness(0.8) blur(0.8px);
}

.card_filter-bright-contrast {
  filter: brightness(0.8) contrast(1.4);
}

.card_filter-grayscale {
  filter: brightness(0.8) grayscale(0.6);
}

.card_filter-invert {
  filter: brightness(2) grayscale(0.5) invert(0.2);
}

.card_filter-saturate {
  filter: brightness(0.8) saturate(1.5);
}

.card__label {
  position: absolute;
  inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  inset-block-start: 25px;
  font-family: var(--accent-font, Consolas, monospace);
  color: var(--text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  z-index: 1;
  text-shadow: -1px 0 var(--text-stroke), 0 1px var(--text-stroke), 1px 0 var(--text-stroke), 0 -1px var(--text-stroke);
}

@supports (text-stroke: 1px var(--text-stroke)) or (-webkit-text-stroke: 1px var(--text-stroke)) {
  .card__label {
    -webkit-text-stroke: 1px var(--text-stroke);
    text-stroke: 1px var(--text-stroke);
    text-shadow: none;
  }
}

.card__content {
  padding: 24px 24px 22px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (width <= 375px) {
  .card__content {
    padding: 24px;
    gap: 28px;
  }
}

.card__text {
  font-size: 18px;
  line-height: 116.6666666667%;
  font-style: normal;
  font-variation-settings: "wght" var(--fw-text);
}

.card__button-container {
  display: flex;
  gap: 8px;
  padding: 0 25px 25px;
  justify-content: end;
  align-items: center;
}

.card__icon-button {
  inline-size: 39px;
  block-size: 39px;
  background-color: var(--bg-color);
  padding: 0;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.card__icon-button .like-icon {
  min-inline-size: 39px;
  aspect-ratio: 1/1;
}

.card__icon-button .core {
  transition: fill 0.3s 0.03s linear;
}

.card__icon-button .main-body {
  transition: fill 0.3s linear;
}

.card__icon-button .contour {
  transition: fill 0.1s linear;
}

.card__icon-button .sparks {
  opacity: 0;
}

.card__icon-button .is-liked .core {
  --heart-core: var(--heart-sparks);

  transition: fill 0.3s linear;
}

.card__icon-button .is-liked .main-body {
  --heart-main-body: var(--heart-sparks);

  transition: fill 0.3s 0.05s linear;
}

.card__icon-button .is-liked .contour {
  --heart-contour: var(--heart-sparks);

  transition: fill 0.3s 0.06s linear;
}

.card__icon-button .is-liked .heart {
  transform-origin: center;
  animation: heart_beat 0.3s 0.1s ease-in alternate;
}

.card__icon-button .is-liked .sparks {
  animation: sparks_explosion 0.3s 0.3s ease-in alternate;
}

.card__icon-button:hover .core {
  --heart-core: var(--heart-contour);

  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  --heart-main-body: var(--heart-contour);

  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .core {
  --heart-core: var(--heart-sparks);

  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  --heart-main-body: var(--heart-sparks);

  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color);
  transition: border-color 0.3s ease;
}

.card__like-button {
  padding: 9px 17px;
  min-inline-size: 130px;
  min-block-size: 38px;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.page__container {
  margin-inline: auto;
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  max-width: min(696px, 100vw);
}

.page .page__list > *:not(:last-child) {
  margin-bottom: 53px;
}
